table thead th:last-child, td:last-child {
  display: revert !important;
}

.modal-header {
  padding: 1rem !important;
  border-bottom: 1px solid #e9ecef !important;
}

.modal-dialog {
  margin-top: -200px !important;
}

.modal-footer {
  justify-content: flex-end !important;
}