table thead th:last-child, td:last-child {
  display: revert !important;
}

.table>tbody>tr>td{
  vertical-align: top !important;
}

.table-responsive {
  overflow: auto !important;
}

.table>thead>tr>th {
  border: 1px solid #e9ecef !important
}

.invalid-feedback {
  display: block !important;
}

.form-check-input {
  margin-left: 0 !important;
}

.form-check .form-check-label {
  padding-left: 25px !important;
}

.modal-header {
  padding: 1rem !important;
  border-bottom: 1px solid #e9ecef !important;
}

.modal-dialog {
  margin-top: -200px !important;
}

.modal-footer {
  justify-content: flex-end !important;
}

.container-dashboard {
  min-height: 70vh;
}

/* Bootsnip.com  */
/* dashboard card css  */

.card-counter{
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover{
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary{
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger{
  background-color: #ef5350;
  color: #FFF;
}  

.card-counter.success{
  background-color: #66bb6a;
  color: #FFF;
}  

.card-counter.info{
  background-color: #26c6da;
  color: #FFF;
}  

.card-counter i{
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers{
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name{
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}

/* Bootsnip.com  */
/* dashboard card css  */
/* END  */